.form-element{
    position: absolute;
    height: calc(100% - 20px);
    width: 100%;
}
.draggable{
    position: relative;
}
.draggable.form-group{
    width: 100%!important;
}
#sortable{
    min-height: 100px;
}

.ui-sortable-placeholder{
    background: #c0c0c0;
    visibility: visible!important;
}

.create_form .form-element{
    height: 0px;
}

.create_form .label-text, .create_form .name-text{
    display: block;
    margin-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}

.label-text, .name-text, .codemirror{
    display: none;
}

div.table-responsive .item{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 10px;
    padding-top: 10px;
}
.CodeMirror-scroll{
    width: 100%;
}